# {{ ansible_managed }}

interface=lo
bind-interfaces
bogus-priv
no-poll

all-servers
#strict-order

cache-size=2048
no-negcache
#neg-ttl=259200
max-ttl=345600

log-async=25
{% if dnsmasq_log_query == True %}
log-queries
{% endif %}
log-facility=/var/log/dnsmasq.log


# Main DNS
{% for root_dns_ip in root_dns %}
server={{root_dns_ip}}
{% endfor %}

# Local DNS
{% if local_dns is defined %}
{% for local_dns_param in local_dns %}
{% if local_dns_param.port is defined %}
server=/{{local_dns_param.domain}}/{{local_dns_param.ip}}#{{local_dns_param.port}}
{% else %}
server=/{{local_dns_param.domain}}/{{local_dns_param.ip}}
{% endif %}
{% endfor %}
{% endif %}

# Local Hosts
{% if local_hosts is defined %}
{% for local_hosts_param in local_hosts %}
address=/{{local_hosts_param.hostname}}/{{local_hosts_param.ip}}
{% endfor %}
{% endif %}
